body {

	text-align : justify;
	background-image: url("../images/background.jpg");
	margin: 55px; 
  	font-family: 'Finger Paint', cursive;
  	font-size: 15px;
  	color: rgb(174,174,174);
	}
		
h1 {

	text-align: center;
  	font-family: 'Delius Unicase', cursive;
  	font-size: 80px;
  	text-shadow: 4px 4px 4px #aaa;
  	color: rgb(255,153,205);
	}

#nav {

	background-color: rgb(255,204,230);
	font-family: 'Delius Unicase', cursive;
	font-size: 20px;
	color: #FFFFFF;
	margin: auto;
	border-radius: 5px;
	padding: 5px;
	text-align: center;

}

#buttonnav {

	padding: 10px;
	border-radius: 4px;
	border-color: rgb(251,235,239);
	text-align: center;
	margin: auto;
	font-family: 'Delius Unicase', cursive;
	color: #FFFFFF;
	font-size: 20px;
	background-color: rgb(255,204,230);

}

#maincontainer{
	margin:auto;
	background-color: #FFFFFF;
	border-radius: 5px;

}

#slideshow-wrapper {
		width: 100%;
		margin: auto;
	}

#maininfo{
	padding-right: 100px;
	padding-left: 100px;
	padding-bottom: 100px;
	margin:auto;
	text-align: justify;

}

#main{

	font-size: 50px;
	font-family: 'Sacramento', cursive;
	color: rgb(255,102,153);

}